#app{
    margin: 0;
}
body{
    background: url("/src/assets/images/bg_dark_2.jpg") fixed no-repeat;
    background-size: cover;
    overflow-x: clip;
    margin: 0;

    padding: 0;
    scroll-behavior: smooth !important;
}
::-webkit-scrollbar{
    width: 0.6vw;
    border-radius: 8px;
    background: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background: pink;
    border-radius: 5px;
}
.katex-mathml{
    opacity: 0;
    position: absolute;
    width: 0 !important;
    height: 0 !important;
}
.katex{
    cursor: pointer;
}